* {
    font-family: 'Lato', sans-serif;
    border-radius: 0 !important;
}

body {
    background-color: #6C7A89;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: -4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item {
    background-color: #FFFFFF;
}

.list-group-item h4 {
    color: #0F0E0E;
    font-weight: 500;
}

.list-group-item img {
    padding-right: 15px;
    height: 72px;
    width: auto;
}

.menu-list {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

a strong {
    color: #0F0E0E;
}

h3 {
    color: #FFFFFF;
}

.menu-header {
    color: #FCFCFC;
    text-align: center;
    padding-bottom: 10px;
}

.order-header {
    text-align: center;
}

.order-btn-div {
    width: 30%;
}

.order-item-quantity-btn {
    width: 40px;
    height: 60px;
}

.order-item-text {
    text-align: center;
}

.btn {
    padding: 6px 8px;
}

.back-btn {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    position: fixed;
    left: 2%;
    z-index: 100;
    bottom: 1%;
    color: #0F0E0E;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
}

.back-btn .glyphicon {
    color: #0F0E0E;
}

.order-btn, .order-btn:focus, .order-btn:visited, .order-btn:active, .order-btn:hover {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 2%;
    z-index: 100;
    bottom: 1%;
    background-color: #FFFFFF;
    color: #0F0E0E;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
}

.qrcode {
    height: 50%;
    width: 100%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    border-color: #00FF00;
    border-style: solid;
}

.qrcode-header {
    color: #FCFCFC;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.col-xs-4 strong {
    margin: 50%;
}

.cancel-btn {
    width: 75%;
}

.close-btn {
    width: 75%;
}

.checkout-btn {
    width: 100%;
}

.order-badge {
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
    color: #FCFCFC !important;
    width: 15px;
    height: 15px;
    position: absolute !important;
    background-color: #f0ad4e !important;
    top: -4px !important;
    right: -4px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    padding: 1px 5px;
}

/* Transition animations */
.menu-enter {
    opacity: 0.01;
}

.menu-enter.menu-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.menu-leave {
    opacity: 1;
}

.menu-leave.menu-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.menu-appear {
    opacity: 0.01;
}

.menu-appear.menu-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
