
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

* {
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
}

body {
    background: #FFFFF7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-content {
    border-radius: 3px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: -4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group .list-group-item {
    background-color: #FFFFFF;
}

li .list-group-item {
}

.list-group-item h4 {
    color: #0F0E0E;
    font-weight: 600;
}

.list-group-item img {
    padding-right: 15px;
    height: 72px;
    width: auto;
}

.menu-list {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
}

a strong {
    color: #0F0E0E;
}

h3, h1{
    font-weight: 600;
    color: #0F0E0E;
}

.menu-header {
    color: #0F0E0E;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

.order-header {
    text-align: center;
}

.order-btn-div {
    width: 30%;
}

.order-item-quantity-btn {
    width: 40px;
    height: 60px;
}

.order-item-text {
    text-align: center;
}

.btn {
    padding: 6px 8px;
    border-radius: 3px
}

.back-btn {
    border-radius: 3px;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    position: fixed;
    left: 2%;
    z-index: 100;
    bottom: 1%;
    color: #0F0E0E;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid #ddd;
}

.glyphicon {
    color: #464646;
}

.glyphicon-trash {
    color: #FFFFFF;
}

.order-btn, .order-btn:focus, .order-btn:visited, .order-btn:active, .order-btn:hover {
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #0F0E0E;
    border: 1px solid #ddd;
}

.bottom-right-btn {
    border-radius: 3px;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 2%;
    z-index: 100;
    bottom: 1%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.qrcode {
    border-radius: 3px;
    height: 50%;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-color: #00FF00;
    border-style: solid;
}

.qrcode-header {
    text-shadow: 0px 3px 2px rgba(0,0,0,0.3);
    color: #FCFCFC;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}

.col-xs-4 strong {
    margin: 50%;
}

.cancel-btn {
    width: 75%;
}

.close-btn {
    width: 75%;
}

.checkout-btn {
    width: 100%;
}

.order-badge {
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 0px rgba(0, 0, 0, .4);
    color: #FCFCFC !important;
    width: 15px;
    height: 15px;
    position: absolute !important;
    background-color: #f0ad4e !important;
    top: -4px !important;
    right: -4px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    padding: 1px 5px;
    border-radius: 3px;
}

/* Transition animations */
.menu-enter {
    opacity: 0.01;
}

.menu-enter.menu-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.menu-leave {
    opacity: 1;
}

.menu-leave.menu-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.menu-appear {
    opacity: 0.01;
}

.menu-appear.menu-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.progress {
    border-radius: 3px;
    margin-bottom: 0px;
}

.tracker-panel {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.panel {
    border-radius: 3px;
}

.order-tracker-btn {
    padding-top: 15px;
}

.home-body {
    padding-bottom: 50px;
    text-align: center;
    color: #0F0E0E;
}


.home-header {
    padding-bottom: 15px;
}

.home-list-item {
    height: 150px;
}

.home-glyph {
    font-size: 40px;
}

.category-form {
    padding: 15px;
    border-radius: 3px;
}

.button-cont {
    padding-bottom: 20px;
}

.manage-btn {
    font-size: 18px;
    height: 50px;
    background-color: #FFFFFF;
    color: #0F0E0E;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid #ddd;
}

.list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.category-edit-form {
    padding-top: 20px;
}

.form-modal-button .glyphicon {
    color: #FFFFFF;
}

.new-order-text {
    padding-bottom: 5px;
    text-align: center;
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.3);
}

.table {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.panel-detail {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

small {
    padding-left: 5px;
}

.centred-label {
    text-align: center;
}